body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url('../../../imgs/bac') no-repeat center center fixed; */
    background-size: cover;
}

.blur-container {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background over the image */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container {
    background-color: #fff;
}

h2 {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.login-options {
    margin-bottom: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-top: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}
.google-login{
    margin-top: 22px;
}



.google-login {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.google-login img {
    margin-right: 10px;
    width: 20px;
}

.forgot-password {
    display: block;
    margin-bottom: 16px;
    color: #3498db;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Additional styling for links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
